[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
vault = "Er2QdeLcDeGUNZDeXpETR4XFnmQu7c9mqLSTPi5kofAX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "cargo test"
